body {
    border: 15px solid #03ced0;
    font-size: 20px;
    color: rgb(41, 78, 78);
    padding: 15px;
}

div.top{
    width:80%;
    margin:0 auto;
    background-color: rgb(103, 252, 202);
    padding: 40px;
}

div.top:hover {
      background-color: rgb(218, 188, 148);
}

h1{
    color:#677d94;
    text-align: center;
}

h1:hover{
    color:#BC8F8F;
}

.middle{
    color: rgb(103, 252, 202);
    background-color: rgb(43, 83, 83);
    padding: 40px;
    width: 80%;
    margin:0 auto;
}

.middle:hover {
    color: #BC8F8F;
    background-color: #696969;
}

.bottom {
    line-height:1.5;
    letter-spacing:2px;
}

.bottom:hover {
    color:rgb(255, 174, 75);
}

.bottom h2{
    color:#677d94;
    text-transform: uppercase;
}

.bottom h2:hover{
    color: rgb(255, 174, 75);
    text-transform: capitalize;
}

.photos {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.photos img:hover {
    border: 15px dotted rgb(245, 128, 151);
}
